@import 'mixins/media-query-helper';

html{
}
body {

  padding: 10px;
  font-size: 1em;

  @include when(medium) {
    font-size: 1.2em;
  }

  @include when(large) {
    font-size: 1.5em;
  }

  @include when(ipad-hd) {
    background: #FFC;
  }

}